<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDE - PROJECT</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../plugins/css/codemirror.css">
    <link rel="stylesheet" href="../plugins/css/customCodeMirror.css">
    <script src="../plugins/js/codemirror.js"></script>
    <script src="../plugins/js/javascript.js"></script>
  </head>

  <body class="noselect">
      <header class="titlebar" id="notitle">
        <div id="drag-region">
            <!-- Area do icone e do menu -->
            <div class="titlebar-area menu-icon">
              <div class="ico"></div>
              <div class="menu-bar">
                <ul class="main-menu menu">
                  <li class="item disable">
                    <span>Arquivo</span>
                    <ul class="sub-menu">
                      <li><div><span class="text-options">Novo Arquivo</span> <span class="shortcut-key">Ctrl+N</span></div></li>
                      <li><div><span class="text-options">Abrir Arquivo</span> <span class="shortcut-key">Ctrl+O</span></div></li>
                      <li><div><span class="text-options">Salvar</span> <span class="shortcut-key">Ctrl+S</span></div></li>
                      <li><div><span class="text-options">Abrir Pasta</span> <span class="shortcut-key">Ctrl+K+Ctrl+O</span></div></li>
                    </ul>
                  </li>
                  <li class="item disable">
                    <span>Sobre</span>
                    <ul class="sub-menu">
                      <li><div><span class="text-options" id="about_developer">Sobre Desenvolvedor</span> <span class="shortcut-key">F9</span></div></li>
                      <li><div><span class="text-options" id="about_project">Sobre Projeto</span> <span class="shortcut-key">F10</span></div></li>
                    </ul>
                  </li>
                </ul>
              </div>
              
            </div>

            <!-- Area do titulo -->
            <div class="titlebar-area title">
              <span>IDE - PROJECT</span>
            </div>

            <!-- Area de controladores -->
            <div id="window-controls">
                <div class="button" id="min-button">
                  <img class="icon" srcset="../assets/icons/min-w-10.png 1x , ../assets/icons/min-w-12.png 1.25x, ../assets/icons/min-w-15.png 1.5x, ../assets/icons/min-w-15.png 1.75x, ../assets/icons/min-w-20.png 2x, ../assets/icons/min-w-20.png 2.25x, ../assets/icons/min-w-24.png 2.5x, ../assets/icons/min-w-30.png 3x, ../assets/icons/min-w-30.png 3.5x" draggable="false" />
                </div>
          
                <div class="button" id="max-button">
                  <img class="icon" srcset="../assets/icons/max-w-10.png 1x, ../assets/icons/max-w-12.png 1.25x, ../assets/icons/max-w-15.png 1.5x, ../assets/icons/max-w-15.png 1.75x, ../assets/icons/max-w-20.png 2x, ../assets/icons/max-w-20.png 2.25x, ../assets/icons/max-w-24.png 2.5x, ../assets/icons/max-w-30.png 3x, ../assets/icons/max-w-30.png 3.5x" draggable="false" />
                </div>
          
                <div class="button" id="restore-button">
                  <img class="icon" srcset="../assets/icons/restore-w-10.png 1x, ../assets/icons/restore-w-12.png 1.25x, ../assets/icons/restore-w-15.png 1.5x, ../assets/icons/restore-w-15.png 1.75x, ../assets/icons/restore-w-20.png 2x, ../assets/icons/restore-w-20.png 2.25x, ../assets/icons/restore-w-24.png 2.5x, ../assets/icons/restore-w-30.png 3x, ../assets/icons/restore-w-30.png 3.5x" draggable="false" />
                </div>
          
                <div class="button" id="close-button">
                  <img class="icon" srcset="../assets/icons/close-w-10.png 1x, ../assets/icons/close-w-12.png 1.25x, ../assets/icons/close-w-15.png 1.5x, ../assets/icons/close-w-15.png 1.75x, ../assets/icons/close-w-20.png 2x, ../assets/icons/close-w-20.png 2.25x, ../assets/icons/close-w-24.png 2.5x, ../assets/icons/close-w-30.png 3x, ../assets/icons/close-w-30.png 3.5x" draggable="false" />
                </div>
              </div>
        </div>
      </header>

      <div class="content">
        <div class="split-left">
          <div class="top-left">Projeto</div>
        </div>
        <div class="split-bar"></div>
        <div class="split-right">
          <textarea id='codemirror'></textarea>
        </div>
      </div>
      
      <script src="../js/renderer.js"></script>
      <script src="../js/menu.js"></script>
  </body>

</html>